@using Weather_site.Core.Entities
@model Weather
@{
    ViewBag.Title = "Weather";
}

<h1>Search City and Get Weather Forecast</h1>

<div>
    <strong>City Name:</strong><input id="txtCity" type="text" />
    <br />
    <br />

    <button asp-action="WeatherDetail" asp-controller="Weather">Get Weather Forecast</button>
</div>
<form asp-action="WeatherDetail" asp-controller="Weather">
    <input id="txtCity" type="text" name="city" />
    <button type="submit">Get Weather Forecast</button>

</form>

    <div>
        <h2>Weather Forecast</h2>
        <table>
            <tr>
                <td>Weather Symbol Icon <img id="imgWeatherIconUrl" src="" title="Weather Icon" /></td>
            </tr>
            <tr>
                <td>
                    <strong>City: @Model.City.Country.Name</strong>
                    <span id="lblCity"></span>
                    <span id="lblCountry"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Latitude:</strong>
                    <label id="lblLat"></label><br />
                    <strong>Longitude:</strong>
                    <label id="lblLon"></label>

                </td>
            </tr>
            <tr>
                <td>
                    <strong>Description:</strong>
                    <label id="lblDescription"></label><br />
                    <strong>Humidity:</strong>
                    <label id="lblHumidity"></label>
                </td>
            </tr>
            <tr>
                <td>
                    Temperature (Feels Like)<label id="lblTempFeelsLike"></label><br />
                    Temperature <label id="lblTemp"></label><br />
                    Temperature (Min)<label id="lblTempMin"></label><br />
                    Temperature (Max)<label id="lblTempMax"></label><br />
                </td>
            </tr>


        </table>
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
