﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Index" asp-controller="Weather">Test</a>
    <p>Learn about <a href="https://localhost:7016/Weather">building Web apps with ASP.NET Core</a>.</p>
    
</div>
