@using Weather_site.Core.Entities 
@{ 
    ViewBag.Title = "Weather"; 
} 

<h1>Search City and Get Weather Forecast</h1> 

<form asp-action="WeatherDetail" asp-controller="Weather"> 
    <input id="txtCity" type="text" name="city" /> 
    <button type="submit">Get Weather Forecast</button> 
</form> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
